# Load Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("yelp_labeled_with_similarity_and_fake.csv")

# Cek 5 baris pertama untuk memastikan berhasil dibaca
df.head().T

,0,1,2,3,4
business_name,Acme Oyster House,Acme Oyster House,Acme Oyster House,Acme Oyster House,Acme Oyster House
review_id,qdpoNaAd2d8hz354jRKryg,5t14YNj5mji1aoIbt3uoQQ,b2lwJxRgseknM_0B5cRkFQ,_BAe5c9nCJh7ntBo2YMqsQ,rFeHUzOELJlba9vHxvR6Ug
user_id,M2jgPvf6syoOHGW0R8PotQ,akv8uZ1X6POqCWXYcnbXfA,2zhTsvYOEPQaQP9w53zkvA,eZGoPMRfq2hw5LfwJg0uTA,uBvrdhNSlGnN35NA8cSMwQ
date,2012-02-07 00:05:19,2015-02-24 01:49:26,2010-01-07 18:09:30,2010-01-07 18:12:23,2010-01-11 02:27:03
stars_review,2,4,2,3,4
stars_business_average,4,4,4,4,4
normalized_text,I grew upon seafood corn meal breaded seafood ...,The Acme is a long time favorite At the age of...,A tourist site with the soul of a TGI Friday s...,The wife and I had dinner there in January We ...,Based on the Yelp reviews I stopped by Acme Oy...
lemmatized_ml,"['grow', 'upon', 'seafood', 'corn', 'meal', 'b...","['acme', 'long', 'time', 'favorite', 'age', 'd...","['tourist', 'site', 'soul', 'tgi', 'friday', '...","['wife', 'dinner', 'january', 'go', 'early', '...","['base', 'yelp', 'review', 'stop', 'acme', 'ho..."
lemmatized_dl,"['grow', 'upon', 'seafood', 'corn', 'meal', 'b...","['acme', 'long', 'time', 'favorite', 'age', 'd...","['tourist', 'site', 'soul', 'tgi', 'friday', '...","['wife', 'dinner', 'january', 'go', 'early', '...","['base', 'yelp', 'review', 'stop', 'acme', 'ho..."
lemmatized_bert,"['i', 'grow', 'upon', 'seafood', 'corn', 'meal...","['the', 'acme', 'be', 'a', 'long', 'time', 'fa...","['a', 'tourist', 'site', 'with', 'the', 'soul'...","['the', 'wife', 'and', 'i', 'have', 'dinner', ...","['base', 'on', 'the', 'yelp', 'review', 'i', '..."
sentiment_label,negative,positive,negative,positive,positive
daily_spike_score,0.0,1.251283,0.546965,0.546965,0.546965
hourly_spike_score,3.592276,3.592276,3.592276,3.592276,3.592276
temporal_spike_score,1.436911,2.187681,1.765089,1.765089,1.765089
user_review_count,1,1,1,3,1
avg_user_rating,2.0,4.0,2.0,3.667,4.0
review_frequency,1.0,1.0,1.0,0.002979,1.0
suspicious_user,0,0,0,0,0
user_behavior_score,0.3,0.3,0.3,0.400689,0.3
text_similarity_score,0.0,0.0,0.0,0.0,0.0
rating_manipulation_score,0.0,0.0,0.0,0.166667,0.0
consistency_score,0.0,0.0,0.0,0.5,0.0
fake_probability,0.41118,0.32449,0.449046,0.669075,0.27573
is_fake,0,1,1,1,1
fake_explanation,High hourly spike (z=3.59),Medium daily spike (z=1.25); High hourly spike...,High hourly spike (z=3.59),High hourly spike (z=3.59); Medium sentiment-r...,High hourly spike (z=3.59)
max_similarity_score,0.26406,0.259275,0.234411,0.260815,0.320177
most_similar_review_id,TiRy733reHgq5v9_ePcJSA,3futyMTxE8viSKTBdkM03g,h6h7cvApI6aIV9Wdg__pPQ,yKLuUKdwcvtGCBYuBi3X4A,7BBjoF6ihpS9s6f3F0iajQ

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7670 entries, 0 to 7669
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   business_name              7670 non-null   object
 1   review_id                  7670 non-null   object
 2   user_id                    7670 non-null   object
 3   date                       7670 non-null   object
 4   stars_review               7670 non-null   int64
 5   stars_business_average     7670 non-null   int64
 6   normalized_text            7670 non-null   object
 7   lemmatized_ml              7670 non-null   object
 8   lemmatized_dl              7670 non-null   object
 9   lemmatized_bert            7670 non-null   object
 10  sentiment_label            7670 non-null   object
 11  daily_spike_score          7670 non-null   float64
 12  hourly_spike_score         7670 non-null   float64
 13  temporal_spike_score       7670 non-null   float64
 14  user_review_count          7670 non-null   int64
 15  avg_user_rating            7670 non-null   float64
 16  review_frequency           7670 non-null   float64
 17  suspicious_user            7670 non-null   int64
 18  user_behavior_score        7670 non-null   float64
 19  text_similarity_score      7670 non-null   float64
 20  rating_manipulation_score  7670 non-null   float64
 21  consistency_score          7670 non-null   float64
 22  fake_probability           7670 non-null   float64
 23  is_fake                    7670 non-null   int64
 24  fake_explanation           7670 non-null   object
 25  max_similarity_score       7670 non-null   float64
 26  most_similar_review_id     7670 non-null   object
dtypes: float64(11), int64(5), object(11)
memory usage: 1.6+ MB

## Column Selection

In [4]:
df = df.drop(columns=[
    'temporal_spike_score',
    'user_review_count',
    'avg_user_rating',
    'review_frequency',
    'suspicious_user',
    'user_behavior_score',
    'text_similarity_score',
    'rating_manipulation_score',
    'consistency_score',
    'fake_probability',
    'fake_explanation'
])

# Cek hasil
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7670 entries, 0 to 7669
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_name           7670 non-null   object
 1   review_id               7670 non-null   object
 2   user_id                 7670 non-null   object
 3   date                    7670 non-null   object
 4   stars_review            7670 non-null   int64
 5   stars_business_average  7670 non-null   int64
 6   normalized_text         7670 non-null   object
 7   lemmatized_ml           7670 non-null   object
 8   lemmatized_dl           7670 non-null   object
 9   lemmatized_bert         7670 non-null   object
 10  sentiment_label         7670 non-null   object
 11  daily_spike_score       7670 non-null   float64
 12  hourly_spike_score      7670 non-null   float64
 13  is_fake                 7670 non-null   int64
 14  max_similarity_score    7670 non-null   float64
 15  most_similar_review_id  7670 non-null   object
dtypes: float64(3), int64(3), object(10)
memory usage: 958.9+ KB

In [5]:
df.head()

,business_name,review_id,user_id,date,stars_review,stars_business_average,normalized_text,lemmatized_ml,lemmatized_dl,lemmatized_bert,sentiment_label,daily_spike_score,hourly_spike_score,is_fake,max_similarity_score,most_similar_review_id
0,Acme Oyster House,qdpoNaAd2d8hz354jRKryg,M2jgPvf6syoOHGW0R8PotQ,2012-02-07 00:05:19,2,4,I grew upon seafood corn meal breaded seafood ...,"['grow', 'upon', 'seafood', 'corn', 'meal', 'b...","['grow', 'upon', 'seafood', 'corn', 'meal', 'b...","['i', 'grow', 'upon', 'seafood', 'corn', 'meal...",negative,0.000000,3.592276,0,0.264060,TiRy733reHgq5v9_ePcJSA
1,Acme Oyster House,5t14YNj5mji1aoIbt3uoQQ,akv8uZ1X6POqCWXYcnbXfA,2015-02-24 01:49:26,4,4,The Acme is a long time favorite At the age of...,"['acme', 'long', 'time', 'favorite', 'age', 'd...","['acme', 'long', 'time', 'favorite', 'age', 'd...","['the', 'acme', 'be', 'a', 'long', 'time', 'fa...",positive,1.251283,3.592276,1,0.259275,3futyMTxE8viSKTBdkM03g
2,Acme Oyster House,b2lwJxRgseknM_0B5cRkFQ,2zhTsvYOEPQaQP9w53zkvA,2010-01-07 18:09:30,2,4,A tourist site with the soul of a TGI Friday s...,"['tourist', 'site', 'soul', 'tgi', 'friday', '...","['tourist', 'site', 'soul', 'tgi', 'friday', '...","['a', 'tourist', 'site', 'with', 'the', 'soul'...",negative,0.546965,3.592276,1,0.234411,h6h7cvApI6aIV9Wdg__pPQ
3,Acme Oyster House,_BAe5c9nCJh7ntBo2YMqsQ,eZGoPMRfq2hw5LfwJg0uTA,2010-01-07 18:12:23,3,4,The wife and I had dinner there in January We ...,"['wife', 'dinner', 'january', 'go', 'early', '...","['wife', 'dinner', 'january', 'go', 'early', '...","['the', 'wife', 'and', 'i', 'have', 'dinner', ...",positive,0.546965,3.592276,1,0.260815,yKLuUKdwcvtGCBYuBi3X4A
4,Acme Oyster House,rFeHUzOELJlba9vHxvR6Ug,uBvrdhNSlGnN35NA8cSMwQ,2010-01-11 02:27:03,4,4,Based on the Yelp reviews I stopped by Acme Oy...,"['base', 'yelp', 'review', 'stop', 'acme', 'ho...","['base', 'yelp', 'review', 'stop', 'acme', 'ho...","['base', 'on', 'the', 'yelp', 'review', 'i', '...",positive,0.546965,3.592276,1,0.320177,7BBjoF6ihpS9s6f3F0iajQ

In [6]:
df.to_csv("yelp_dataset_after_finalization.csv", index=False)