In [1]:
import pandas as pd

In [3]:
df_final = pd.read_csv("yelp_dataset_after_finalization.csv")
df_preproc = pd.read_csv("yelp_review_preprocessed.csv")

# Pastikan kolom review_id ada
assert "review_id" in df_final.columns, "Kolom review_id tidak ada di yelp_dataset_after_finalization.csv"
assert "review_id" in df_preproc.columns, "Kolom review_id tidak ada di yelp_review_preprocessed.csv"

In [4]:
# ===============================
# 2. PILIH HANYA KOLUM YANG DIPERLUKAN DARI PREPROCESSED
# ===============================
# Pastikan kolom "text" ada
if "text" not in df_preproc.columns:
    raise ValueError("Kolom 'text' tidak ditemukan di yelp_review_preprocessed.csv")

df_preproc_small = df_preproc[["review_id", "text"]]

In [5]:
# ===============================
# 3. MERGE BERDASARKAN review_id
# ===============================
df_merged = df_final.merge(
    df_preproc_small,
    on="review_id",
    how="left"    # pakai left biar tetap ikut semua baris dari final dataset
)

In [8]:
# ===============================
# 4. CEK HASIL
# ===============================
print("Jumlah baris awal:", len(df_final))
print("Jumlah baris setelah merge:", len(df_merged))
df_merged.head()

Jumlah baris awal: 7670
Jumlah baris setelah merge: 7670

,business_name,review_id,user_id,date,stars_review,stars_business_average,normalized_text,lemmatized_ml,lemmatized_dl,lemmatized_bert,sentiment_label,daily_spike_score,hourly_spike_score,is_fake,max_similarity_score,most_similar_review_id,text
0,Acme Oyster House,qdpoNaAd2d8hz354jRKryg,M2jgPvf6syoOHGW0R8PotQ,2012-02-07 00:05:19,2,4,I grew upon seafood corn meal breaded seafood ...,"['grow', 'upon', 'seafood', 'corn', 'meal', 'b...","['grow', 'upon', 'seafood', 'corn', 'meal', 'b...","['i', 'grow', 'upon', 'seafood', 'corn', 'meal...",negative,0.000000,3.592276,0,0.264060,TiRy733reHgq5v9_ePcJSA,I grew upon seafood - corn meal breaded seafoo...
1,Acme Oyster House,5t14YNj5mji1aoIbt3uoQQ,akv8uZ1X6POqCWXYcnbXfA,2015-02-24 01:49:26,4,4,The Acme is a long time favorite At the age of...,"['acme', 'long', 'time', 'favorite', 'age', 'd...","['acme', 'long', 'time', 'favorite', 'age', 'd...","['the', 'acme', 'be', 'a', 'long', 'time', 'fa...",positive,1.251283,3.592276,1,0.259275,3futyMTxE8viSKTBdkM03g,The Acme is a long time favorite. At the age o...
2,Acme Oyster House,b2lwJxRgseknM_0B5cRkFQ,2zhTsvYOEPQaQP9w53zkvA,2010-01-07 18:09:30,2,4,A tourist site with the soul of a TGI Friday s...,"['tourist', 'site', 'soul', 'tgi', 'friday', '...","['tourist', 'site', 'soul', 'tgi', 'friday', '...","['a', 'tourist', 'site', 'with', 'the', 'soul'...",negative,0.546965,3.592276,1,0.234411,h6h7cvApI6aIV9Wdg__pPQ,A tourist site with the soul of a TGI Friday's...
3,Acme Oyster House,_BAe5c9nCJh7ntBo2YMqsQ,eZGoPMRfq2hw5LfwJg0uTA,2010-01-07 18:12:23,3,4,The wife and I had dinner there in January We ...,"['wife', 'dinner', 'january', 'go', 'early', '...","['wife', 'dinner', 'january', 'go', 'early', '...","['the', 'wife', 'and', 'i', 'have', 'dinner', ...",positive,0.546965,3.592276,1,0.260815,yKLuUKdwcvtGCBYuBi3X4A,The wife and I had dinner there in Jan. 2010. ...
4,Acme Oyster House,rFeHUzOELJlba9vHxvR6Ug,uBvrdhNSlGnN35NA8cSMwQ,2010-01-11 02:27:03,4,4,Based on the Yelp reviews I stopped by Acme Oy...,"['base', 'yelp', 'review', 'stop', 'acme', 'ho...","['base', 'yelp', 'review', 'stop', 'acme', 'ho...","['base', 'on', 'the', 'yelp', 'review', 'i', '...",positive,0.546965,3.592276,1,0.320177,7BBjoF6ihpS9s6f3F0iajQ,"Based on the Yelp reviews, I stopped by Acme O..."

In [11]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7670 entries, 0 to 7669
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_name           7670 non-null   object
 1   review_id               7670 non-null   object
 2   user_id                 7670 non-null   object
 3   date                    7670 non-null   object
 4   stars_review            7670 non-null   int64
 5   stars_business_average  7670 non-null   int64
 6   normalized_text         7670 non-null   object
 7   lemmatized_ml           7670 non-null   object
 8   lemmatized_dl           7670 non-null   object
 9   lemmatized_bert         7670 non-null   object
 10  sentiment_label         7670 non-null   object
 11  daily_spike_score       7670 non-null   float64
 12  hourly_spike_score      7670 non-null   float64
 13  is_fake                 7670 non-null   int64
 14  max_similarity_score    7670 non-null   float64
 15  most_similar_review_id  7670 non-null   object
 16  text                    7670 non-null   object
dtypes: float64(3), int64(3), object(11)
memory usage: 1018.8+ KB

In [9]:
df_merged["text"].head()

0    I grew upon seafood - corn meal breaded seafoo...
1    The Acme is a long time favorite. At the age o...
2    A tourist site with the soul of a TGI Friday's...
3    The wife and I had dinner there in Jan. 2010. ...
4    Based on the Yelp reviews, I stopped by Acme O...
Name: text, dtype: object

In [10]:
df_merged.to_csv("yelp_dataset_with_text.csv", index=False)
print("File hasil disimpan sebagai yelp_dataset_with_text.csv")

File hasil disimpan sebagai yelp_dataset_with_text.csv